<ion-header>
  <ion-toolbar>
    <ion-title>Mon compte</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form (ngSubmit)="onSubmit(validationsForm)" [formGroup]="validationsForm">
    <ion-item>
      <ion-label position="floating" color="primary">Password</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
    <div>
      <ng-container *ngFor="let validation of validationMessages.password">
        <div *ngIf="validationsForm.get('password').hasError(validation.type) && (validationsForm.get('password').dirty || validationsForm.get('password').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>
    <ion-item>
      <ion-label position="floating" color="primary">Confirm Password</ion-label>
      <ion-input type="password" formControlName="confirmPassword"></ion-input>
    </ion-item>
    <div>
      <ng-container *ngFor="let validation of validationMessages.confirmPassword">
        <div *ngIf="validationsForm.get('confirmPassword').hasError(validation.type) && (validationsForm.get('confirmPassword').dirty || validationsForm.get('confirmPassword').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>
    <!-- These validations are for the form group -->
    <ng-container *ngFor="let validation of validationMessages.matchingPasswords">
      <div *ngIf="noMatchPasswords">
        {{ validation.message }}
      </div>
    </ng-container>
    <ion-button color="primary" class="submit-btn" expand="full" type="submit" [disabled]="!validationsForm.valid">Change password</ion-button>
  </form>
</ion-content>
