<ion-header>
  <ion-toolbar>
    <ion-title>Details</ion-title>
    <ion-icon class="buttonBack" slot="start" name="arrow-back" (click)="goBack()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #f = "ngForm" (ngSubmit)="createOrUpdateExpense(f)">
    <ion-item>
      <ion-select [(ngModel)]="expenseService.selectedExpense.missionName" name="missionName" 
      multiple="false" placeholder="Mission" (ionChange)="missionSelected()"
      [selectedText]="expenseService.selectedExpense.missionName">
        <ion-select-option *ngFor="let mission of missions" value="{{mission.missionName}}">
          {{mission.missionName}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-input type="text" name="societyName" placeholder="Société"
      [(ngModel)]="expenseService.selectedExpense.societyName" disabled></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" name="customerLastName" placeholder="Client"
      [(ngModel)]="expenseService.selectedExpense.customerLastName" disabled></ion-input>
    </ion-item>
    <ion-item>
      <ion-datetime type="text" displayFormat="YYYY-MM-DD" pickerFormat="YYYY-MM-DD" name="expenseDate" [(ngModel)]="expenseService.selectedExpense.expenseDate" placeholder="Date"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-select [(ngModel)]="expenseService.selectedExpense.expenseType" name="expenseType" 
      multiple="false" placeholder="Type">
        <ion-select-option *ngFor="let type of expenseTypes" value="{{type}}">
          {{type}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <!--Champs activated only for a expense type Trajet -->
    <ion-item [hidden]="expenseService.selectedExpense.expenseType!=='Trajet'">
      <ion-input type="text" name="expenseDepart" placeholder="Départ"
      [(ngModel)] = "expenseService.selectedExpense.expenseDepart"></ion-input>
    </ion-item>
    <ion-item [hidden]="expenseService.selectedExpense.expenseType!=='Trajet'">
      <ion-input type="text" name="expenseArrival" placeholder="Arrivée"
      [(ngModel)] = "expenseService.selectedExpense.expenseArrival"></ion-input>
    </ion-item>
    <ion-item [hidden]="expenseService.selectedExpense.expenseType!=='Trajet'">
      <ion-input type="text" name="expenseDistance" placeholder="Distance"
      [(ngModel)] = "expenseService.selectedExpense.expenseDistance"></ion-input>
    </ion-item>
    <!--Fin champs -->
    <ion-item>
      <ion-input type="text" name="expenseTotal" placeholder="Total"
      [(ngModel)] = "expenseService.selectedExpense.expenseTotal"></ion-input>
    </ion-item>
  
    <ion-button type="submit" color="primary">Save</ion-button>
  </form>
  <ion-fab vertical="top" horizontal="end" edge slot="fixed">
    <ion-fab-button>
      <ion-icon name="camera" size="large"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>